{% extends 'sidebar.html' %}


{% set crumbs = [('home', '/'), ('foma', '/foma/'), ('duodecim', '/foma/duodecim')] %}


{% block main_content %}

<div class="content-header">
  <h2>Duodecim</h2>
  <h5>A game demanded by <a href="https://twitter.com/TweeterRater">@TweeterRater</a></h5>
</div>

<p><a href="https://storify.com/nathanreads/duodecimfinalround">The eleven that competed</a> (favs: Kalarlis, Horse_Crimes, timescanner, sea_trash)</p>
<p>and castinemachine, a DNF</p>
<div class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/_x0gmKnWp35Gel0OHfqsyA/69246510004" data-did="9c16731aa20129c8e01414d33d91319923dc6495"><a href="http://careandkeepingofaheart.tumblr.com/post/69246510004/o-o">http://careandkeepingofaheart.tumblr.com/post/69246510004/o-o</a></div><script async src="https://secure.assets.tumblr.com/post.js"></script>

{% endblock %}
