{% extends 'sidebar.html' %}


{% set crumbs = [('home', '/'), ('trivia', '/trivia/')] %}


{% block head %}
<link rel="stylesheet" href="{{ get_asset('css/trivia.css') }}" type="text/css">

<script src="{{ get_asset('js/tears/tears.js') }}" type="text/javascript"></script>
<script src="{{ get_asset('js/tears/Cell.js') }}" type="text/javascript"></script>
<script src="{{ get_asset('js/tears/CanvasCell.js') }}" type="text/javascript"></script>
<script src="{{ get_asset('js/tears/ColourBuffer.js') }}" type="text/javascript"></script>
<script src="{{ get_asset('js/tears/CellActionTrace.js') }}" type="text/javascript"></script>
<script src="{{ get_asset('js/tears/start.js') }}" type="text/javascript"></script>
{% endblock %}


{% macro gallery_link(post_id) %}

    {% for post in posts %}
        {% if post.id == post_id %}
            <a id="{{ post.id }}-gallery" title="{{ post.desc }}" href="{{ post.urlOverride or post.url }}"></a>
        {% endif %}
    {% endfor %}

{% endmacro %}


{% block main_content %}
<div id="gallery" class="section">
    {{ gallery_link('autofriend') }}
    {{ gallery_link('tswift-tunes') }}
    {{ gallery_link('beepbeep') }}
    {{ gallery_link('dance-bot') }}
    {{ gallery_link('vigil') }}
    {{ gallery_link('oracle') }}
    {{ gallery_link('very-smart') }}
    {{ gallery_link('elevators') }}
    {{ gallery_link('elm-of-life') }}
    <a id="tears-gallery" title="some kind of art?" href="http://github.com/wohanley/tears">
        <canvas id="background" style="z-index: 0;"></canvas>
        <canvas id="foreground" style="z-index: 1;"></canvas>
    </a>
    {{ gallery_link('transcat') }}
    {{ gallery_link('wiki-mapper') }}
    {{ gallery_link('stegasaurus') }}
</div>
{% endblock %}

