{% extends 'sidebar.html' %}


{% set crumbs = [('home', '/'), ('trivia', '/trivia/')] %}


{% block head %}
<script src="{{ get_asset('js/tears/tears.js') }}" type="text/javascript"></script>
<script src="{{ get_asset('js/tears/Cell.js') }}" type="text/javascript"></script>
<script src="{{ get_asset('js/tears/CanvasCell.js') }}" type="text/javascript"></script>
<script src="{{ get_asset('js/tears/ColourBuffer.js') }}" type="text/javascript"></script>
<script src="{{ get_asset('js/tears/CellActionTrace.js') }}" type="text/javascript"></script>
<script src="{{ get_asset('js/tears/start.js') }}" type="text/javascript"></script>
{% endblock %}


{% block main_content %}
<div id="gallery" class="section">
    <a id="autofriend-gallery" title="bot that favs all your selfies" href="http://twitter.com/_autofriend"></a>
    <a id="tswift-tunes-gallery" title="bot that looks for tweets that can be sung to the tune of Taylor Swift songs" href="http://twitter.com/tswift_tunes"></a>
    <a id="beep-beep-gallery" title="acousting ranging on iPads" href="/trivia/beepbeep"></a>
    <a id="dance-bot-gallery" title="dance move suggestions bot" href="http://twitter.com/movesuggestions"></a>
    <a id="vigil-gallery" title="game about checking your phone" href="http://github.com/wohanley/vigil"></a>
    <a id="oracle-gallery" title="fortune telling robot" href="http://twitter.com/nostradaaamn"></a>
    <a id="very-smart-gallery" title="bot that gives unsolicited advice" href="http://twitter.com/heres_atip"></a>
    <a id="elevators-gallery" title="disk scheduling visualizations" href="http://github.com/wohanley/elevators"></a>
    <a id="elm-of-life-gallery" title="Elm of Life" href="http://github.com/wohanley/elm-of-life"></a>
    <a id="tears-gallery" title="some kind of art?" href="http://github.com/wohanley/tears">
        <canvas id="background" style="z-index: 0;"></canvas>
        <canvas id="foreground" style="z-index: 1;"></canvas>
    </a>
    <a id="transcat-gallery" title="uncorrected transmission error simulator" href="http://github.com/wohanley/trans"></a>
    <a id="stegasaurus-gallery" title="simple steganography" href="{{ get_url('/trivia/stegasaurus.html') }}"></a>
    <a id="mapper-gallery" title="map of Berlin Wall sections" href="http://github.com/wohanley/wiki-mapper"></a>
</div>
{% endblock %}

