{% extends 'sidebar.html' %}


{% set crumbs = [('home', '/'), ('trivia', '')] %}


{% block head %}
<link rel="stylesheet" href="{{ get_asset('css/trivia.css') }}" type="text/css">
{% endblock %}


{% macro gallery_link(post_id) %}
    {% for post in posts %}
        {% if post.id == post_id %}
            <a id="{{ post.id }}-gallery" title="{{ post.desc }}" href="{{ post.urlOverride or post.url }}"></a>
        {% endif %}
    {% endfor %}
{% endmacro %}


{% block main_content %}
<div id="gallery" class="section">
    <a id="willopedia-gallery" title="the willopedia: my zettelkasten" href="https://notes.wohanley.com/about"></a>
    <a id="org-setup-gallery" title="my org-mode setup" href="/posts/org-setup"></a>
    {{ gallery_link('document-automation') }}
    {{ gallery_link('personality-test') }}
    {{ gallery_link('court') }}
    {{ gallery_link('arrest-powers') }}
    {{ gallery_link('law-outlines') }}
    {{ gallery_link('autofriend') }}
    {{ gallery_link('tswift-tunes') }}
    {{ gallery_link('beepbeep') }}
    {{ gallery_link('dance-bot') }}
    {{ gallery_link('vigil') }}
    {{ gallery_link('very-smart') }}
    {{ gallery_link('elevators') }}
    {{ gallery_link('elm-of-life') }}
    {{ gallery_link('transcat') }}
    {{ gallery_link('wiki-mapper') }}
    {{ gallery_link('stegasaurus') }}
</div>
{% endblock %}
