{% extends 'layout.html' %}

{% macro resumeItem(title, date, description, image, imageAlt, imageTitle) -%}
    <div class="row">
        <div class="resume-image col-xs-4 col-s-3 col-md-3">
            <img src="{{ image }}" alt="{{ imageAlt }}" title="{{ imageTitle }}" />
        </div>
        <div class="col-xs-8 col-s-9 col-md-9">
            <h2>{{ title }} <small class="pull-right">{{ date }}</small></h2>
            <p>{{ description }}</p>
        </div>
    </div>
{% endmacro -%}

{% block content %}
    <div class="jumbotron push-down">
        <p>I'm a software developer, former UPEI (and Dalhousie, Ithaca College and Dankook University) student, and frozen pizza enthusiast. Let me know if you need one of any of those. Especially the pizza one.</p>
    </div>
    <h1>Skills and Technologies</h1>
    <ul>
        <li>Web technologies: HTML/CSS/JS, jQuery and Knockout.js</li>
	<li>Microsoft stack: ASP.NET MVC, C#, Entity Framework, SQL Server, Azure</li>
        <li>Scrum and agile development</li>
        <li>Linux systems, including daily usage</li>
	<li>Other languages I've loved: Haskell, Python, Scala, Elm</li>
    </ul>
    <h1>Work</h1>
    {{ resumeItem("English Teacher, Dankook University", "June to July 2014", "Taught English to beginning, intermediate, and advanced level students at Dankook University's Cheonan campus, as part of an exchange with UPEI.", get_asset('images/dku-logo.png'), "DKU logo", "Dankook University") }}
    {{ resumeItem("Instructor, Chengdu Technological University", "March 2014", "Worked as a visiting instructor at Chengdu Technological University under an agreement with Holland College. Taught introductory web application development and Visual Basic courses to Chinese students.", get_asset('images/hc-logo.jpg'), "Holland College logo", "Holland College") }}
    {{ resumeItem("Developer, Adeptio", "May 2012 to October 2013", "Developed Adeptio, an ASP.NET MVC3 web application, in a Scrum environment. Adeptio is an achievement planning application including goal setting, habit tracking, and Google Calendar and Microsoft Exchange integration.", get_asset('images/adeptio.png'), "Adeptio logo", "Adeptio") }}
    {{ resumeItem("Research Assistant, UPEI", "May 2011 to September 2011", "Worked on an Android application applying wireless sensor network technology to medical devices. The application enabled doctors, nurses and other medical staff to monitor their patients wirelessly from an Android device, taking readings like blood pressure, pulse, and oximetry.", get_asset('images/upei-crest.png'), "UPEI logo", "UPEI") }}
    <h1>Education</h1>
    {{ resumeItem("UPEI", "September 2010 to present", "Home base for my degree. GPA: 4.3", get_asset('images/upei-crest.png'), "UPEI logo", "UPEI") }}
    {{ resumeItem("Dankook University", "Summer 2014", "Participant in DKU's English Village and Academic Program.", get_asset('images/dku-logo.png'), "DKU logo", "DKU") }}
    {{ resumeItem("Ithaca College", "September 2011 to December 2011", "Exchange semester as a Killam Fellow. Learned so much and had an absolute blast. GPA: 4.0", get_asset('images/ic-logo.jpg'), "Ithaca College logo", "Ithaca College") }}
    {{ resumeItem("Dalhousie", "September 2009 to May 2010", "First year in the Dalhousie Integrated Science Program (DISP). Covered the major sciences: chemistry, biology, psychology, etc. GPA: 4.0", get_asset('images/dalhousie-logo.jpg'), "Dalhousie logo", "Dalhousie") }}
    <h1>Awards</h1>
    {{ resumeItem("Wayne Cutcliffe Award", "March 2013", "$500 bursary awarded in recognition of academic and work term success as part of UPEI's co-operative education program.", get_asset('images/upei-crest.png'), "UPEI logo", "UPEI") }}
    {{ resumeItem("Killam Fellowship", "September 2011", "$5000 award from Fulbright Canada to study abroad in the USA for a semester.", get_asset('images/fulbright-canada.png'), "Fulbright Canada logo", "Fulbright Canada") }}
{% endblock %}
