<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}
    
    {% if site.title %}
        <title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>
    {% endif %}
</head>

<body>
    <div id="sidebar">
        <div id="header">
            <img id="primary-avatar" src="http://www.gravatar.com/avatar/701d229a47e1ea46e5a0b8b42668693c" alt="avatar" title="Me">
            <h1><a href="{{ get_url() }}">{{ site.title }}</a></h1>
            {% if site.subtitle %}<h2>{{ site.subtitle }}</h2>{% endif %}
        </div>
        
        <div class="module">
            <p>Hi! I’m Willy. I write code and things partly because I need to eat and partly because I think it’s cool. If you want to give me a job, or there's something else you think I'd be interested in, you should <a href="mailto:willy@wohanley.com">get in touch!</a></p>
            <p>This is also a good place to list any other sites you are on like <a href="https://github.com/">GitHub</a> and <a href="https://twitter.com/">Twitter</a>.</p>
        </div>
        
        <div class="module module-nav">
            <ul class="unstyled">
                <li><a href="{{ get_url('archives/') }}">Things I've made</a></li>
            </ul>
        </div>
    </div>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
