@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: 'fontello';
  src: url("/assets/fonts/fontello/font/fontello.eot?73647477");
  src: url("/assets/fonts/fontello/font/fontello.eot?73647477#iefix") format("embedded-opentype"), url("/assets/fonts/fontello/font/fontello.woff2?73647477") format("woff2"), url("/assets/fonts/fontello/font/fontello.woff?73647477") format("woff"), url("/assets/fonts/fontello/font/fontello.ttf?73647477") format("truetype"), url("/assets/fonts/fontello/font/fontello.svg?73647477#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?73647477#fontello') format('svg');
  }
}
*/
/* line 24, _sass/fontello/_fontello.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 2, _sass/fontello/_fontello-codes.scss */
.icon-tumblr:before {
  content: '\e800';
}

/* '' */
/* line 3, _sass/fontello/_fontello-codes.scss */
.icon-github:before {
  content: '\e801';
}

/* '' */
/* line 4, _sass/fontello/_fontello-codes.scss */
.icon-linkedin:before {
  content: '\e802';
}

/* '' */
/* line 5, _sass/fontello/_fontello-codes.scss */
.icon-lastfm:before {
  content: '\e803';
}

/* '' */
/* line 6, _sass/fontello/_fontello-codes.scss */
.icon-meetup:before {
  content: '\e804';
}

/* '' */
/* line 7, _sass/fontello/_fontello-codes.scss */
.icon-wordpress:before {
  content: '\e805';
}

/* '' */
/* line 8, _sass/fontello/_fontello-codes.scss */
.icon-twitter:before {
  content: '\e806';
}

/* '' */
/* line 9, _sass/fontello/_fontello-codes.scss */
.icon-lock:before {
  content: '\e807';
}

/* '' */
/* line 10, _sass/fontello/_fontello-codes.scss */
.icon-mail-alt:before {
  content: '\e808';
}

/* '' */
/* line 11, _sass/fontello/_fontello-codes.scss */
.icon-goodreads:before {
  content: '\e809';
}

/* '' */
/* line 12, _sass/fontello/_fontello-codes.scss */
.icon-rss:before {
  content: '\f09e';
}

/* '' */
/* line 13, _sass/fontello/_fontello-codes.scss */
.icon-gitlab:before {
  content: '\f296';
}

/* '' */
/* line 17, _sass/all.scss */
:root {
  --color-bg: #FFF8E7;
  --color-fg: #2F3337;
  --color-fg-mute: #42474D;
  --color-accent-hard: #E23C5D;
  --color-accent-soft: #41B49D;
  --font-serif: "Coelacanth", "Georgia", "serif";
  --font-sans: "Alegreya Sans", "sans";
  --font-mono: "Iosevka", "Monaco", "Courier New", "Courier", "monospace";
  --font-title: var(--font-sans);
  --font-body: var(--font-sans);
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  /* line 34, _sass/all.scss */
  :root {
    --color-bg: #2F3337;
    --color-fg: #FFF8E7;
    --color-fg-mute: #FFEDC2;
    --color-accent-hard: #69C9B6;
    --color-accent-soft: #E75E79;
  }
}
/* line 43, _sass/all.scss */
body {
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 0 20px 30px 20px;
}

/* line 50, _sass/all.scss */
a {
  color: unset;
  font-style: italic;
}

/* line 55, _sass/all.scss */
a:focus, a:hover {
  color: var(--color-accent-soft);
}

/* line 59, _sass/all.scss */
a:active {
  color: var(--color-accent-hard);
}

/* line 63, _sass/all.scss */
a svg {
  fill: var(--color-fg);
}

/* line 67, _sass/all.scss */
a:focus svg, a:hover svg {
  fill: var(--color-accent-soft);
}

/* line 71, _sass/all.scss */
a:active svg {
  color: var(--color-accent-hard);
}

/* line 75, _sass/all.scss */
.title, .resume-section header {
  font-weight: bold;
  color: var(--color-accent-hard);
}

/* line 80, _sass/all.scss */
#breadcrumbs {
  font-size: 0.9rem;
}

/* line 84, _sass/all.scss */
.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* line 89, _sass/all.scss */
.section {
  margin-top: 20px;
  max-width: 100%;
}

/* line 94, _sass/all.scss */
.social-icons {
  font-size: 2.5rem;
  text-align: center;
}

/* line 99, _sass/all.scss */
svg.arena-logo {
  width: 2.5rem;
  margin: 0 5px;
}

/* line 106, _sass/all.scss */
.breadcrumb {
  font-size: 0.9rem;
}

/* line 110, _sass/all.scss */
.breadcrumb::after {
  content: "›";
  font-style: normal;
  padding: 0 6px 0 10px;
}

/* line 116, _sass/all.scss */
.breadcrumb:last-child::after {
  content: none;
  padding: 0;
}

/* line 121, _sass/all.scss */
#breadcrumbs > span:after {
  content: "›";
  font-style: normal;
  padding: 0 6px 0 10px;
}

/* line 127, _sass/all.scss */
#breadcrumbs > span:last-child:after {
  content: none;
  padding: 0;
}

/* line 136, _sass/all.scss */
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* line 143, _sass/all.scss */
.gallery-link, #willopedia-gallery, #org-setup-gallery, #document-automation-gallery, #personality-test-gallery, #court-gallery, #arrest-powers-gallery, #law-outlines-gallery, #elm-of-life-gallery, #stegasaurus-gallery, #elevators-gallery, #tears-gallery, #transcat-gallery, #oracle-gallery, #very-smart-gallery, #wiki-mapper-gallery, #dance-bot-gallery, #tswift-tunes-gallery, #beepbeep-gallery, #vigil-gallery {
  height: 170px;
  width: 170px;
  background-size: 170px 170px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

/* line 150, _sass/all.scss */
#willopedia-gallery {
  background-image: url("/assets/images/gallery-willopedia.png");
}

/* line 155, _sass/all.scss */
#org-setup-gallery {
  background-image: url("/assets/images/gallery-graph.png");
}

/* line 160, _sass/all.scss */
#document-automation-gallery {
  background-image: url("/assets/images/document-automation.png");
}

/* line 165, _sass/all.scss */
#personality-test-gallery {
  background-image: url("/assets/images/personality-test.jpg");
}

/* line 170, _sass/all.scss */
#court-gallery {
  background-image: url("/assets/images/court.jpg");
}

/* line 175, _sass/all.scss */
#arrest-powers-gallery {
  background-image: url("/assets/images/arrest-powers.jpg");
}

/* line 180, _sass/all.scss */
#law-outlines-gallery {
  background-image: url("/assets/images/law-outlines.jpg");
}

/* line 185, _sass/all.scss */
#elm-of-life-gallery {
  background-image: url("/assets/images/life.gif");
}

/* line 190, _sass/all.scss */
#stegasaurus-gallery {
  background-image: url("/assets/images/asteroids-steg.png");
}

/* line 195, _sass/all.scss */
#elevators-gallery {
  background-image: url("/assets/images/elevators.gif");
}

/* line 200, _sass/all.scss */
#tears-gallery {
  position: relative;
}
/* line 204, _sass/all.scss */
#tears-gallery #background, #tears-gallery #foreground {
  position: absolute;
  top: 0;
  left: 0;
  height: 170px;
  width: 170px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

/* line 214, _sass/all.scss */
#transcat-gallery {
  background-image: url("/assets/images/transcat.png");
}

/* line 219, _sass/all.scss */
#oracle-gallery {
  background-image: url("/assets/images/fortune.jpeg");
}

/* line 224, _sass/all.scss */
#very-smart-gallery {
  background-image: url("/assets/images/golfin.jpg");
}

/* line 229, _sass/all.scss */
#wiki-mapper-gallery {
  background-image: url("/assets/images/wall-map.png");
}

/* line 234, _sass/all.scss */
#dance-bot-gallery {
  background-image: url("/assets/images/dance-bot.png");
}

/* line 239, _sass/all.scss */
#tswift-tunes-gallery {
  background-image: url("/assets/images/tswift.jpg");
}

/* line 244, _sass/all.scss */
#beepbeep-gallery {
  background-image: url("/assets/images/response.png");
}

/* line 249, _sass/all.scss */
#vigil-gallery {
  background-image: url("/assets/images/vigil.png");
}

/* line 255, _sass/all.scss */
#small-worlds-screenshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 261, _sass/all.scss */
.fomus {
  margin-top: 4em;
}

/* line 265, _sass/all.scss */
.content-header {
  margin-bottom: 2em;
}

/* line 269, _sass/all.scss */
pre.prose {
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

/* line 278, _sass/all.scss */
.book-title {
  font-style: italic;
}

/* line 282, _sass/all.scss */
.resume-section {
  margin-top: 4rem;
}

/* line 286, _sass/all.scss */
#intro.resume-section {
  display: flex;
  align-items: center;
}

/* line 291, _sass/all.scss */
.resume-section .social-icons {
  color: var(--color-fg-mute);
}

/* line 295, _sass/all.scss */
.resume-section.bio {
  margin-top: 0.5rem;
}

/* line 299, _sass/all.scss */
.resume-section header {
  font-size: 2rem;
}

/* line 304, _sass/all.scss */
#intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 15px;
}
/* line 312, _sass/all.scss */
#intro header {
  margin-top: 0;
  font-size: 3rem;
}
/* line 317, _sass/all.scss */
#intro h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
/* line 322, _sass/all.scss */
#intro .social-icons {
  text-align: initial;
}

/* line 327, _sass/all.scss */
#vitals {
  margin-right: 20px;
}

/* line 331, _sass/all.scss */
.resume-item {
  display: flex;
  margin-top: 3rem;
}
/* line 336, _sass/all.scss */
.resume-item h3 {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  font-size: 1.3rem;
}
/* line 343, _sass/all.scss */
.resume-item .date {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
  color: var(--color-fg-mute);
}
@media (min-width: 850px) {
  /* line 351, _sass/all.scss */
  .resume-item h3 {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  /* line 357, _sass/all.scss */
  .resume-item .date {
    display: initial;
    margin-top: 0;
  }
}
/* line 363, _sass/all.scss */
.resume-item .img-wrapper {
  display: none;
  flex: 0 0 180px;
  padding: 0 20px;
  text-align: center;
}
@media (min-width: 550px) {
  /* line 371, _sass/all.scss */
  .resume-item .img-wrapper {
    display: initial;
  }
}
/* line 376, _sass/all.scss */
.resume-item .resume-img {
  max-width: 100%;
  max-height: 120px;
}
/* line 381, _sass/all.scss */
.resume-item .resume-content {
  flex-grow: 1;
}
