
.icon-github:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-lastfm:before { content: '\e801'; } /* '' */
.icon-meetup:before { content: '\e800'; } /* '' */
.icon-wordpress:before { content: '\e802'; } /* '' */