body {
  background-color: #000100;
  text-align: center;
}

a {
  color: #F00;
}

a:hover {
  color: #FFF;
}

#title {
  text-align: center;
  margin: 100px auto 30px auto;
}

#sitemap {
  margin-bottom: 20px;
}

#social-icons {
  font-size: 2em;
}

@media (max-width: 400px) {
  #social-icons {
    font-size: 3em;
  }
}
