/* line 6, _sass/home.scss */
body {
  background-color: #000100;
  text-align: center;
}

/* line 11, _sass/home.scss */
a {
  color: #F00;
}

/* line 15, _sass/home.scss */
a:hover {
  color: #FFF;
}

/* line 19, _sass/home.scss */
#site-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  max-width: 100%;
}

/* line 26, _sass/home.scss */
#sitemap {
  margin-bottom: 20px;
}

/* line 30, _sass/home.scss */
#social-icons {
  font-size: 2.5em;
}
