* {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  outline: invert none 0px;
}

body {
  background-color: #eeeeee;
  background-position: left top;
  background-repeat: repeat;
  color: #181818;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
}

blockquote, dl, ol, p, pre, table, ul {
  margin: 18px 0px 18px 0px;
}

blockquote {
  overflow: hidden;
  padding: 0px 18px 0px 18px;
  background-color: #eeeeee;
}

dd, dt {
  line-height: 18px;
}

dl.horizontal > dd {
  margin-left: 65px;
}
dl.horizontal > dd + dt {
  margin-top: 18px;
}
dl.horizontal > dd + dt + dd {
  margin-top: 18px;
}
dl.horizontal > dt {
  float: left;
  width: 50px;
}

h1, h2, h3, h4, h5, h6 {
  color: #282828;
  font-style: italic;
  font-weight: normal;
  line-height: 18px;
}

h1, h2 {
  line-height: 36px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

li {
  line-height: 18px;
}
ol > li:before, ul > li:before {
  padding-right: 8px;
  color: #186b4e;
}
ol > li {
  counter-increment: item;
}
ol > li:before {
  content: counter(item,decimal) ".";
}
ul > li:before {
  content: "\2022";
}
ul.unstyled > li:before {
  padding-right: 0px;
  content: none;
}

ol, ul {
  list-style-image: none;
  list-style-position: inside;
  list-style-type: none;
}
ol ol, ol ul, ul ol, ul ul {
  margin: 0px 0px 0px 20px;
}

ol {
  counter-reset: item;
}

p {
  line-height: 18px;
  text-align: justify;
}

pre {
  padding: 0px 3px 0px 3px;
  background-color: #eeeeee;
  font-family: "Envy Code R", "Ubuntu Mono", monospace;
  line-height: 18px;
}

table {
  background-color: #eeeeee;
  border-collapse: collapse;
}

td, th {
  padding: 9px;
  line-height: 18px;
}

td > :first-child {
  margin-top: 0px;
}
td > :last-child {
  margin-bottom: 0px;
}
tr:nth-child(2n) > td {
  background-color: #cccccc;
}

th {
  background-color: #c3a14a;
  color: #186b4e;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

a {
  color: #186b4e;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
a:hover {
  color: #18855f;
}

code {
  padding: 0px 3px 0px 3px;
  background-color: #eeeeee;
  color: #060606;
  font-family: "Envy Code R", "Ubuntu Mono", monospace;
  line-height: 18px;
  white-space: pre;
}
pre code {
  padding: 0px;
  background-color: transparent;
  color: #060606;
}
table code {
  background-color: #c3a14a;
}

a > img {
  vertical-align: text-bottom;
  padding: 5px;
  background-color: #eeeeee;
}

.push-down, .resume-image {
  margin-top: 20px;
}

.title {
  color: #5a136b;
}
.title a {
  color: #5a136b;
}

h2 small.pull-right {
  margin-top: 10px;
}

#sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 300px;
}
#sidebar .modules {
  padding: 0px 20px;
}

#site-title {
  margin-bottom: 5px;
}

#site-subtitle {
  margin-top: 0px;
}

#content {
  margin: 20px 20px 20px 360px;
}
#breadcrumbs + #content {
  margin-top: 72px;
}
#content > :first-child {
  margin-top: 0px;
}
#content > :last-child {
  margin-bottom: 0px;
}

#sidebar {
  background-position: left top;
  background-repeat: repeat;
}

#modules {
  padding: 0px 20px;
}

#intro-module {
  height: 90px;
}

#sidebar-avatar {
  height: 90px;
  width: 90px;
  float: right;
  margin-left: 10px;
}

.social-icons {
  font-size: 1.5em;
}
.social-icons a {
  color: #cccccc;
  margin-right: 3px;
}
.social-icons a:hover {
  color: #186b4e;
}

.module {
  margin-top: 18px;
  font-style: italic;
}
.module p {
  margin-bottom: 3px;
}

.module-nav {
  font-family: "Ubuntu Mono", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

#footer {
  font-size: 11px;
  text-transform: uppercase;
}

#breadcrumbs {
  background-color: #c3a14a;
  color: #060606;
  font-family: "Ubuntu Mono", sans-serif;
  font-style: italic;
}
#breadcrumbs > li {
  float: left;
}
#breadcrumbs > li:before {
  padding-right: 0px;
  content: none;
}
#breadcrumbs span {
  padding: 0px 6px 0px 6px;
  color: #181818;
  font-style: normal;
}

.item-header {
  padding: 12px;
  background-color: #eeeeee;
}
.item-header > h1 {
  font-size: 24px;
  line-height: 30px;
}
.item-header > h2 {
  color: #060606;
  font-size: 11px;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  word-spacing: 2px;
}
.item-header span {
  position: relative;
  top: -1px;
}

.item-body {
  margin-top: 18px;
}
.item-body > :first-child {
  margin-top: 0px;
}
.item-body > :last-child {
  margin-bottom: 0px;
}
.item-body h1 {
  margin: 24px 0px -6px 0px;
}

div.code {
  margin: 18px 0px 18px 0px;
}
div.code > div {
  overflow: auto;
  background-color: #eeeeee;
}
div.code pre {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  background-color: transparent;
}

.highlighttable {
  margin: 0px;
  background-color: transparent;
}
.highlighttable .linenos, .highlighttable .code {
  padding: 9px;
}
.highlighttable .linenos {
  background-color: #c3a14a;
  color: #060606;
}

.item-header-posts {
  margin: 18px 0px 18px 0px;
  padding: 9px;
}
.item-header-posts > h1 {
  font-size: 16px;
  line-height: 18px;
}
.item-header-posts > h2 {
  font-size: 10px;
  line-height: 18px;
}
.item-header-posts > h2 a {
  color: #282828;
}
.item-header-posts > h2 a:hover {
  color: #186b4e;
}

.archives {
  padding: 9px;
  background-color: #eeeeee;
}
.archives .archives {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  background-color: transparent;
}

.archives-year a {
  color: #282828;
  font-size: 18px;
  font-style: italic;
  line-height: 18px;
}
.archives-year a:hover {
  color: #186b4e;
}

.archives-post-date {
  color: #060606;
  font-size: 12px;
  font-style: italic;
  text-transform: uppercase;
}

.archives-post-title {
  font-style: italic;
}

.archives-post-tags {
  color: #060606;
  font-size: 10px;
  text-transform: uppercase;
  word-spacing: 2px;
}
.archives-post-tags a {
  color: #282828;
}
.archives-post-tags a:hover {
  color: #186b4e;
}
.archives-post-tags span {
  position: relative;
  top: -1px;
}

.resume-image {
  text-align: center;
}
.resume-image img {
  max-width: 180px;
  max-height: 120px;
  margin-right: 20px;
}
