{% extends 'layout.html' %}

{% set crumbs = [('home', '/'), ('resume', '/resume')] %}

{% macro resumeItem(id, title, date, description, image, imageAlt, imageTitle) -%}
<div id="{{ id }}" class="resume-item">
    <div class="img-wrapper">
        <img class="resume-img" src="{{ image }}" alt="{{ imageAlt }}" title="{{ imageTitle }}" />
    </div>
    <div class="resume-content">
        <h3>{{ title }}<span class="date">{{ date }}</span></h3>
        <p>{{ description }}</p>
    </div>
</div>
{% endmacro -%}


{% block content %}
<div class="container">
    {% if crumbs %}
  <div class="section" id="breadcrumbs">
        {{ _m.breadcrumbs(crumbs) }}
    </div>
    {% endif %}
    <section class="resume-section" id="intro">
        <div id="vitals">
            <header class="title">William O'Hanley</header>
        </div>
        <div class="social-icons">
          <a href="https://gitlab.com/whohanley" title="GitLab"><i class="icon-gitlab"></i></a>
          <a title="send me an electronic mail" href='mai&#108;to&#58;&#37;6D&#101;&#64;&#119;&#111;h&#37;61&#37;6E%&#54;&#67;e&#121;&#46;com'><i class="icon-mail-alt"></i></a>
          <a href="/wohanley-pgp-public.asc" title="my PGP public key"><i class="icon-lock"></i></a>
        </div>
    </section>
    <section class="bio resume-section">I'm a JD student at the University of Victoria interested in access to justice and the intersections of law, technology, and design. Before that I spent five years as a software developer, working mainly on web applications for data visualization and education. You can see some of my experiments <a href="/trivia">here</a>, and you can <a href="mai&#108;to&#58;&#37;6D&#101;&#64;&#119;&#111;h&#37;61&#37;6E%&#54;&#67;e&#121;&#46;com">send me an email</a> if you'd like to talk about any of that or if there's a movie about space you'd like to recommend.</section>
    <section class="resume-section">
      <header>Education</header>
      {{ resumeItem("uvic", "University of Victoria, Faculty of Law", "since September 2018", "Currently enrolled in the JD program. Expected graduation date in spring 2021.", get_asset('images/uvic-law-martlet.png'), "UVic logo", "UVic") }}
      {{ resumeItem("upei", "University of PEI", "Graduated summer 2014", "Home base for my undergraduate degree, a BSc in Computer Science with a minor in Mathematics and a co-operative education annotation. I worked part-time at the Computer Science Help Desk, providing hands-on assistance with homework and lab assignments. I also spent a year in Dalhousie University's Integrated Science Program, a semester as a Killam Fellow at Ithaca College in New York, and a summer at Dankook University's English Village. GPA: 4.1", get_asset('images/upei-crest.png'), "UPEI logo", "UPEI") }}
    </section>
    <section class="resume-section">
        <header>Work history</header>
        {{ resumeItem("uvic-ace-2020", "Research Assistant, UVic ACE", "Summer 2020 to present", "I work for the University of Victoria Access to Justice Centre for Excellence, assisting with a variety of projects at BC courts and tribunals aimed at improving access to justice. I also conduct secondary research into various topics in access to justice, mostly in line with ACE's goal of improving metrics in the justice system. I am also helping to redesign the Access to Justice course at UVic.", get_asset('images/uvic-law-martlet.png'), "UVic logo", "UVic") }}
        {{ resumeItem("uvic-ace-2019", "Research Assistant, UVic ACE", "Summer 2019", "I worked for the University of Victoria Access to Justice Centre for Excellence conducting research into a variety of topics, including empiricism in the justice system, human-centred design, and legal education. I attended ACE's May 2019 Access to Justice Metrics Colloquium and helped to gather information on the data available from a selection of justice system actors.", get_asset('images/uvic-law-martlet.png'), "UVic logo", "UVic") }}
        {{ resumeItem("zymeworks", "Software Developer, Zymeworks", "November 2016 to April 2018", "I worked on internal software tools supporting Zymeworks' scientific operations. This included web applications for data analysis and visualization, a system for storing and managing scientific data, and administrative tools. I was the lead developer on most of my projects and managed my own process. The team was careful to compartmentalize and keep codebases isolated where possible, allowing us to choose the best specific tools for each job. Thanks to that, I worked with all of Angular, Elm, React, Python and Go.", get_asset('images/zymeworks-logo.png'), "Zymeworks logo", "Zymeworks") }}
        {{ resumeItem("scholantis", "Software Developer, Scholantis", "September 2015 to November 2016", "I worked with a small team on public-facing web sites and a broad set of internal web-based tools (mostly Angular-based) for school districts, students, teachers, and administrators. Joining a team light on process and explicit standards, I drove efforts to introduce code review and automated unit testing alongside my normal feature ownership responsibilities, leading to an order of magnitude increase in the overall number of tests. I was also the technical lead on an Ionic-based mobile version of our Angular apps.", get_asset('images/scholantis-logo.png'), "Scholantis logo", "Scholantis") }}
        {{ resumeItem("trade-me", "Software Developer, Trade Me", "Southern Hemisphere summer 2014/15", "I did full stack web development for Trade Me, an online marketplace that generates 60% of all web traffic in New Zealand. I designed and built features on a .NET backend and delivered them to over 3.6 million users. I was also part of a newly forming team, which meant a thoughtful look at management and human processes, experimenting with tweaks to Scrum and Kanban.", get_asset('images/kev.png'), "Trade Me's mascot", "Kevin the kiwi") }}
        {{ resumeItem("dankook-teaching", "EAL Instructor, Dankook University", "Summer 2014", "I taught English to beginning, intermediate, and advanced level students at Dankook University's Cheonan campus during their English Village program. I worked with teaching partners in and out of the classroom to expose students to new situations that challenged their language skills. Class sizes were very small (3 or 4 students), maximizing individual attention.", get_asset('images/dku-logo.png'), "DKU logo", "Dankook University") }}
        {{ resumeItem("ctu", "Instructor, Chengdu Technological University", "Spring 2014", "I worked as a visiting instructor at Chengdu Technological University as part of an instructor exchange with Holland College, teaching courses in web application development and VB.NET.", get_asset('images/hc-logo.png'), "Holland College logo", "Holland College") }}
        {{ resumeItem("adeptio", "Software Developer, Adeptio", "May 2012 to October 2013", "I helped build Adeptio, a single page web application for coaching and achievement planning, in a Scrum environment. Even as a student, I was a major contributor to this application, with input into big-picture architectural decisions and design patterns. Technical challenges included a UNIX-like permission system, distributed consensus, and a Google- and Exchange-integrated calendar.", get_asset('images/adeptio.png'), "Adeptio logo", "Adeptio") }}
        {{ resumeItem("upei-research", "Research Assistant, UPEI", "Summer 2011", "I made an Android application applying wireless sensor network technology to medical devices under an NSERC Undergraduate Student Research Award. The application enabled doctors, nurses and other medical staff to monitor their patients wirelessly from an Android device, taking readings like blood pressure, pulse, and oximetry. I presented this project at the 2011 UPEI Students' Undergraduate Research Conference.", get_asset('images/upei-crest.png'), "UPEI logo", "UPEI") }}
    </section>
    <section class="resume-section">
      <header class="resume-section-head">Technical skills</header>
      <ul>
        <li>Web application frontends: HTML/CSS/Less/JS, Angular, Elm, React</li>
        <li>Polyglot programming: .NET, JVM languages, Python, Go, SQL and more with an emphasis on web backends</li>
        <li>Process: Automated testing, code review, continuous integration, agile development, and building a culture that values all of the above</li>
        <li>Some languages with places in my heart, in chronological order: Scheme, Python, SQL, HTML, C#, Javascript, Sass, Haskell, Elm, Clojure, Scala, Emacs Lisp</li>
      </ul>
    </section>
    <section class="resume-section">
      <header>Awards</header>
      {{ resumeItem("", "Law Foundation of BC Public Interest Award", "September 2020", "Scholarship awarded by the Law Foundation of BC in support of students who have demonstrated commitment to the public interest combined with academic achievement.", get_asset('images/law-foundation-bc.png'), "Law Foundation logo", "Law Foundation of BC") }}
      {{ resumeItem("", "Stacey Reginald Ball Prize", "September 2020", 'Scholarship awarded to a student in the Faculty of Law at the University of Victoria who has "demonstrated exceptional academic excellence in individual employment law through a paper crafted in coursework or directed research."', get_asset('images/uvic-law-martlet.png'), "UVic logo", "UVic") }}
      {{ resumeItem("", "Lawson Lundell LLP Prize in Business Associations", "September 2020", 'Scholarship awarded to a student who has demonstrated excellence in the Business Associations course at the University of Victoria. This was the class for which I created a short game around the concept of a <a href="/personality-test">Legal Personality Test</a>.', get_asset('images/lawson-lundell.png'), "Lawson Lundell LLP logo", "Lawson Lundell LLP") }}
      {{ resumeItem("", "Lawson Lundell LLP Entrance Scholarship", "September 2018", "Scholarship to study law at the University of Victoria, funded by Lawson Lundell LLP and awarded by the Faculty of Law on the basis of demonstrated academic excellence.", get_asset('images/lawson-lundell.png'), "Lawson Lundell LLP logo", "Lawson Lundell LLP") }}
      {{ resumeItem("", "Wayne Cutcliffe Award", "March 2013", "Bursary awarded in recognition of academic and work term success as part of UPEI's co-operative education program.", get_asset('images/upei-crest.png'), "UPEI logo", "UPEI") }}
      {{ resumeItem("", "Killam Fellowship", "September 2011", "Scholarship from Fulbright Canada to study abroad in the USA for a semester, which I did at Ithaca College.", get_asset('images/fulbright-canada.png'), "Fulbright Canada logo", "Fulbright Canada") }}
      {{ resumeItem("", "NSERC Undergraduate Student Research Award", "Summer 2011", 'Award from the Natural Sciences and Engineering Research Council of Canada that funded <a href="#upei-research">my work as a research assistant</a> for the summer.', get_asset('images/nserc.png'), "NSERC logo", "NSERC") }}
    </section>
</div>
{% endblock %}
