<meta charset="utf-8">
<meta author="William O'Hanley">
<link title="Atom feed for posts to wohanley.com" rel="alternate" type="application/atom+xml" href="/feed.xml">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/base.css">
<script type="text/javascript">window.goatcounter = { path: function (p) { return 'wohanley.com' + p; } }</script>
<script type="text/javascript" data-goatcounter="https://wohanley.goatcounter.com/count" async="" src="//gc.zgo.at/count.js"></script>
