<header class="nav-header">
  <nav aria-label="Top-level site navigation">
    <ul>
      <li><a href="/" title="Main page of the site">Home</a></li>
      <li><a href="https://notes.wohanley.com" title="My personal knowledge base">Notes</a></li>
      <li><a href="/posts" title="occasional posts on specific topics">Posts</a></li>
      <li class="nav-dropdown">
        <button
          type="button"
          id="logs-button"
          class="nav-dropdown__title"
          aria-controls="logs-dropdown">Logs</button>
        <ul class="nav-dropdown__menu" id="logs-dropdown">
          <li><a href="/faves" title="some particular favourites">Favourites</a></li>
          <li><a href="https://www.goodreads.com/review/list/37883668?sort=date_read" title="books I've been reading">Goodreads</a></li>
          <li><a href="https://letterboxd.com/whohanley/films/diary/" title="movies I've been watching">Letterboxd</a></li>
          <li><a href="https://ifdb.org/playlist?sortby=new&id=9t84w0mf2dp5619h&type=" title="intfic I've been reading">IFDB</a></li>
        </ul>
      </li>
      <li class="nav-dropdown">
        <button
          type="button"
          class="nav-dropdown__title"
          aria-controls="elsewhere-dropdown">Elsewhere</button>
        <ul class="nav-dropdown__menu" id="elsewhere-dropdown">
          <li><a href="https://are.na/will-o-hanley">Are.na</a></li>
          <li><a href="http://www.twitter.com/wohanley">Twitter</a></li>
          <li><a href="https://gitlab.com/whohanley">GitLab</a></li>
          <li><a href="https://github.com/wohanley">GitHub</a></li>
        </ul>
      </li>
      <li><a href="https://etherpad.wikimedia.org/p/MguL8M0I7lJ9i636WLFM">Guestbook</a></li>
      <li><a href="/feed.xml" title="RSS feed for this site">Feed</a></li>
    </ul>
  </nav>
</header>
