@charset "utf-8";

@import 'fontello-all';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700');

$background-color: #070710;
$font-color-primary: #ccc;
$font-color-secondary: rgba($font-color-primary, 0.6);
$title-color: #D16050;
$link-color: #3BD188;
$link-color-hover: #61FFB3;

$section-margin-top: 20px;


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: $background-color;
    color: $font-color-primary;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
  color: $link-color-hover;
}

a svg {
  fill: $link-color;
}

a:hover svg {
  fill: $link-color-hover;
}

.title {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    color: $title-color;
}

#breadcrumbs {
    font-size: 0.9rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.section {
    margin-top: $section-margin-top;
    max-width: 100%;
}

.social-icons {
    font-size: 2.5rem;
    text-align: center;
}

svg.arena-logo {
  width: 2.5rem;
  margin: 0 5px; // not sure why this is necessary, weird whitespace between the other icons
}

#breadcrumbs > span:after {
    content: "›";
    font-style: normal;
    padding: 0 6px 0 10px;
}

#breadcrumbs > span:last-child:after {
    content: none;
    padding: 0;
}


$gallery-link-size: 170px;
$gallery-link-border-radius: 6px;

#gallery {
    text-align: center;
}

.gallery-link {
    display: inline-block;
    height: $gallery-link-size;
    width: $gallery-link-size;
    background-size: $gallery-link-size $gallery-link-size;
    margin-right: 10px;
    margin-top: 10px;
    @include border-radius($gallery-link-border-radius);
}

#document-automation-gallery {
  @extend .gallery-link;
  background-image: url('/assets/images/document-automation.png');
}

#personality-test-gallery {
  @extend .gallery-link;
  background-image: url('/assets/images/personality-test.jpg');
}

#court-gallery {
  @extend .gallery-link;
  background-image: url('/assets/images/court.jpg');
}

#arrest-powers-gallery {
  @extend .gallery-link;
  background-image: url('/assets/images/arrest-powers.jpg');
}

#law-outlines-gallery {
  @extend .gallery-link;
  background-image: url('/assets/images/law-outlines.jpg');
}

#elm-of-life-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/life.gif');
}

#stegasaurus-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/asteroids-steg.png');
}

#elevators-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/elevators.gif');
}

#tears-gallery {
    @extend .gallery-link;
    position: relative;

    #background, #foreground {
        position: absolute;
        top: 0;
        left: 0;
        height: $gallery-link-size;
        width: $gallery-link-size;
        @include border-radius($gallery-link-border-radius)
    }
}

#transcat-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/transcat.png');
}

#oracle-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/fortune.jpeg');
}

#very-smart-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/golfin.jpg');
}

#wiki-mapper-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/wall-map.png')
}

#dance-bot-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/dance-bot.png')
}

#tswift-tunes-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/tswift.jpg')
}

#beepbeep-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/response.png')
}

#vigil-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/vigil.png')
}


#small-worlds-screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fomus {
    margin-top: 4em;
}

.content-header {
    margin-bottom: 2em;
}

pre.prose {
    color: $font-color-primary;
    background-color: $background-color;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.book-title {
    font-style: italic;
}

.resume-section {
    margin-top: 4rem;
}

.resume-section.bio {
    margin-top: 0.5rem;
}

.resume-section header {
    @extend .title;
    font-size: 1.5rem;
}

#intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 15px;

    header {
        margin-top: 0;
        font-size: 3rem;
    }

    h4 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .social-icons {
        text-align: initial;
    }
}

#vitals {
    margin-right: 20px;
}

.resume-item {

    display: flex;
    margin-top: 3rem;

    h3 {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        font-size: 1.3rem;
    }

    .date {
        display: block;
        margin-top: 10px;
        font-size: 1rem;
        color: $font-color-secondary;
    }

    @media (min-width: 850px) {
        h3 {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
        }

        .date {
            display: initial;
            margin-top: 0;
        }
    }

    .img-wrapper {
        display: none;
        flex: 0 0 180px;
        padding: 0 20px;
        text-align: center;
    }

    @media (min-width: 550px) {
        .img-wrapper {
            display: initial;
        }
    }

    .resume-img {
        max-width: 100%;
        max-height: 120px;
    }

    .resume-content {
        flex-grow: 1;
    }
}
