@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'fontello-all';


$background-color: #070710;
$primary-color: #ccc;
$link-color: #c37;
$hover-color: #19707f;

$section-margin-top: 20px;


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


body {
    background-color: $background-color;
    color: $primary-color;
    margin-bottom: 30px;
}

.section {
    margin-top: $section-margin-top;
    max-width: 100%;
}

a {
    color: $link-color;
}

a:hover {
    color: $hover-color;
    text-decoration: none;
}

#social-icons {
    font-size: 3.5em;
    text-align: center;
}

#breadcrumbs > span:after {
    content: "›";
    font-style: normal;
    padding: 0 6px 0 10px;
}

#breadcrumbs > span:last-child:after {
    content: none;
    padding: 0;
}


$gallery-link-size: 170px;
$gallery-link-border-radius: 6px;

#gallery {
    text-align: center;
}

.gallery-link {
    display: inline-block;
    height: $gallery-link-size;
    width: $gallery-link-size;
    background-size: $gallery-link-size $gallery-link-size;
    margin-right: 10px;
    margin-top: 10px;
    @include border-radius($gallery-link-border-radius);
}

#elm-of-life-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/life.gif');
}

#stegasaurus-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/asteroids-steg.png');
}

#elevators-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/elevators.gif');
}

#tears-gallery {
    @extend .gallery-link;
    position: relative;

    #background, #foreground {
        position: absolute;
        top: 0;
        left: 0;
        height: $gallery-link-size;
        width: $gallery-link-size;
        @include border-radius($gallery-link-border-radius)
    }
}

#transcat-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/transcat.png');
}

#oracle-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/fortune.jpeg');
}

#very-smart-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/golfin.jpg');
}

#mapper-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/wall-map.png')
}

#dance-bot-gallery {
    @extend .gallery-link;
    background-image: url('/assets/images/dance-bot.png')
}


#small-worlds-screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 400px) {
    
    #social-icons {
        font-size: 3em;
    }
}

.fomus {
    margin-top: 4em;
}

.content-header {
    margin-bottom: 2em;
}

pre.prose {
    color: $primary-color;
    background-color: $background-color;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.book-title {
    font-style: italic;
}
