$background-color: #000100;
$link-color: #F00;
$hover-color: #FFF;


body {
    background-color: $background-color;
    text-align: center;
}

a {
    color: $link-color;
}

a:hover {
    color: $hover-color;
}

#site-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    max-width: 100%;
}

#sitemap {
    margin-bottom: 20px;
}

#social-icons {
    font-size: 2.5em;
}
