{% extends 'sidebar.html' %}


{% set crumbs = [('home', '/'), ('foma', '/foma/')] %}


{% block main_content %}
<h2>Verily I say unto you...again and again and again</h2>

{% macro fomus(title, href, link_text, quote) %}
<figure class="fomus">
    {% if quote %}
    <blockquote>
        {{ quote }}
    </blockquote>
    {% endif %}
    <figcaption>
        <a title="{{ title }}" href="{{ href }}">{{ link_text }}</a>
    </figcaption>
</figure>
{% endmacro %}

{{ fomus("on kindness", "https://medium.com/matter/on-kindness-819ce388f976", "On Kindness", """“The world is a mean place,” she said at last. “Sometimes people are mean, and sometimes things will be hard. One of your jobs is to try and make sure that that never makes you mean and hard, too.”""") }}

{{ fomus("confessions of a drug-addicted high school teacher", "https://medium.com/@jasisrad/confessions-of-a-drug-addicted-high-school-teacher-d41a15bd1170", "Confessions of a Drug-Addicted High School Teacher", "They were the sane ones. I was the crazy one.") }}

{{ fomus("figs from thistles", "http://www.gutenberg.org/ebooks/4399", "A Few Figs from Thistles", """<p>It was bare and bright, and smelled like a stable—</p>
<p>But we looked into a fire, we leaned across a table [...]</p>""") }}

{{ fomus("eel-grass", "/foma/eel-grass", "Eel-Grass", """<p>No matter what I say,</p>
<p>All that I really love</p>
<p>Is the rain that flattens on the bay,</p>
<p>And the eel-grass in the cove;</p>""") }}

{{ fomus("lamp and bell", "http://www.gutenberg.org/ebooks/3768", "The Lamp and the Bell", """<p>BIA. [...] even the way</p>
<p>You pick up something that you drop.</p>
<p>BEA. You goose!</p>
<p>'Tis not because I'm a princess you feel that way—</p>
<p>I've always thought the same thing about you!—</p>
<p>The way you draw your gloves on is to me</p>
<p>More marvelous than the way the sun comes up!</p>""") }}

{{ fomus("sacred space", "http://okeypanky.com/post/116907629367/comic-you-are-a-sacred-space-by-yumi-sakugawa", "You Are a Sacred Space", "<p>[...] to spend a lifetime hating yourself, and then discovering for the first time the silent spaces between your thoughts </p>
<p>and then finally knowing that if you decrease your thoughts and increase the space</p>
<p>then you are nothing but the space.") }}

{{ fomus("cyberiad", "http://english.lem.pl/index.php/works/novels/the-cyberiad", "The Cyberiad", """And it grew dark before his hundred eyes, and he cried out in a mighty voice that he'd had enough, but Information had so swathed and swaddled him in its three hundred thousand tangled paper miles, that he couldn't move and had to read on about how Kipling would have written the beginning to his Second Jungle Book if he had had indigestion just then, and what thoughts come to unmarried whales getting on in years, and all about the courtship of the carrion fly, and [...]""") }}

{{ fomus("algernon", "http://www.dorinta19.bizland.ro/FLOWERS%20FOR%20ALGERNON%20.htm", "Flowers for Algernon", "1 don't know where the week went. Todays Sunday I know because I can see through my window people going to church. I think I stayed in bed all week but I remember Mrs. Flynn bringing food to me a few times. I keep saying over and over Ive got to do something but then I forget or maybe its just easier not to do what I say Im going to do.") }}

{% endblock %}

