
.icon-tumblr:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-lastfm:before { content: '\e803'; } /* '' */
.icon-meetup:before { content: '\e804'; } /* '' */
.icon-wordpress:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-lock:before { content: '\e807'; } /* '' */
.icon-mail-alt:before { content: '\e808'; } /* '' */