{% extends 'sidebar.html' %}


{% set crumbs = [('home', '/'), ('foma', '/foma/'), ('eel-grass', '/foma/eel-grass')] %}


{% block main_content %}

<div class="content-header">
    <h2>Eel-Grass</h2>
    <h5>from <span class="book-title">Second April</span> by Edna St. Vincent Millay</h5>
</div>

<pre class="prose">No matter what I say,
  All that I really love
  Is the rain that flattens on the bay,
  And the eel-grass in the cove;
   The jingle-shells that lie and bleach
  At the tide-line, and the trace
Of higher tides along the beach:
  Nothing in this place.</pre>

{% endblock %}

