<% content_for :assets do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>


<div id="title">
  <%= image_tag "wohanley-flaming.gif" %>
</div>
<div id="sitemap">
    <a href="/trivia" title="some projects">trivia</a>
</div>
<%= partial 'social-icons' %>
