{% extends 'sidebar.html' %}


{% block main_content %}

<div>
    <a href="https://twitter.com/tswift_tunes">t-swift tunes, a Twitter bot</a>
</div>
<div>
    <a href="https://github.com/wohanley/robots/blob/master/src/main/scala/com/wohanley/robots/nlp/tokens/pronunciation/package.scala">Some NLP code that t-swift tunes is built on</a>
</div>
<div>
    <a href="https://github.com/wohanley/robots/blob/master/src/test/scala/grammar/generative/generativeGrammarSpec.scala">The beginning of a context-free grammar DSL in Scala</a>
</div>
<div>
    <a href="https://github.com/wohanley/cljbots/blob/master/src/robots/grammar/generative.clj">A better grammar "DSL" in Clojure</a>
</div>
<div>
    <a href="https://github.com/wohanley/sports-stats/blob/master/src/sports/grammar.clj">A grammar in Clojure</a>
</div>
<div>
    <a href="https://github.com/wohanley/cljbots/blob/master/test/robots/grammar/generative_test.clj">Some Midje tests. I love Midje.</a>
</div>

{% endblock %}
